*{
 margin: 0px;
padding:0px;
}

body {
  background-color:black;
  overflow: hidden;
}

.main {
  background-color:lightblue;
  margin: 50px;
  border-radius:30px;
  text-align: center;
}
input, button {
  border:hidden;
  background-color:white;
  border-radius:10px;
  padding:10px;
  cursor: pointer;
}
